.mainCard {
    width: 100vw;
    padding: 20px;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    font-size: 20px;
}

.container {
    display: flex; 
    align-items: start; 
    justify-content: start;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 17px;
    width: 100%;

}

.card {
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 250px;
    margin: 5px;
    background-color: white;
    flex-direction: column;
}

.card:hover {
    border: #034078, solid, 1.5px;
    border-radius: 10px;
    transition: 0.2ms;
    width: 150px;
    height: 250px;
}

.imgContainer {
    display: flex;
    margin: 5px;
    height: 60%;

}

.imgCard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.infCard {
    margin: 1px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sttCard {
    color: #034078;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin: 5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

@media (min-width:800px) {

    .title {
        margin-left: 40px;
        margin-top: 10px;
        background-color: white;
        font-size: 20px;
    }

    .card {
        min-width: 180px;
        min-height: 180px;
        margin: 10px;
        background-color: white;
        flex-direction: column;
    }

    .infCard {
        width: 175px; 
    }

    .container {
        display: flex;
        margin-left: 40px;
        width: 100%;
        flex-direction: row;
        height: 100%;
    }

}

@media (min-width:1279px){

    .title {
        margin-left: 100px;
        margin-top: 10px;
        background-color: white;
        font-size: 20px;
    }

    .container {
        margin-left: 100px;
    }

}