.table-content {
  height: 72%; 
  width: 90%;  
  border-radius: 2vh; 
  display: flex;
  align-items: start;
  justify-content: center; 
   overflow-y: scroll; 
   background-color: white;
}   
.business-photo  {
  height: 5vh;  
  width: 5vh; 
  clip-path: circle();
}
.business-photo img {
  height: 100%; 
  width: 100%;
}