footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #034078;
    height: 39vh;
    width: 100%;
}

.corpo-footer {
    display: flex;
    justify-content: space-between;
    width: 93%;
    background-color: #034078;

}

.esquerdo p,
.esquerdo h2,
.direito h3 {
    color: white;
}

.direito h3 {
    padding-bottom: 15px;
    font-size: 25px;

}

.esquerdo h2 {
    font-size: 25px;
}

.direito {
    width: 30%;

}

.esquerdo {

    width: 40%;

}

.footer-a {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;

}

.material-symbols-outlined,
.img-insta {
    display: inline-block;
    margin-top: 10px;

}

.img-insta {
    color: white;
    height: 30px;
    width: 30px;
}

.img-email {
    height: 42px;
    width: 42px;
    margin-top: 10px;
    margin-left: -8px;
}

.contatos {
    margin-bottom: 20px;

}

.contato-f,
.equipe {
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;

}

.footer-a {
    text-decoration: none;
}

.footer-a p:hover {
    text-decoration: underline;
    color: whitesmoke;
}

@media (max-width: 585.99px) {
    footer {
        height: 230px;

    }

    .corpo-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 230px;
        margin-left: -5px;

    }

    .contatos h2 {
        margin-top: 10px;
        font-size: 10px;
        padding-bottom: 6px;
       
    }

    .contatos{
        margin-bottom: 10px;
     
    }

    .contato-f,
    .equipe {
        font-size: 10px;
        margin-top: 5px;

    }

    .equipe {
        padding: 0px;
        margin-top: 0px;
        
    }

    .img-insta {
        margin-top: 8px;
        height: 16px;
        width: 16px;

    }

    .img-email {
        height: 23px;
        width: 23px;
        margin-top: 7px;
        margin-left: -3px;
    }

    .direito {

        width: 80%;
        position: absolute;
        top: 20px;
        left: 5%;

    }

    .esquerdo .footer-a {
        margin-top: -10px;
        padding: 0px;

    }

    .direito .footer-a h3 {
        font-size: 13px;
        margin-top: -20px;
        padding: 7px;

    }

    .esquerdo {

        height: 110px;
        width: 90%;
        position: absolute;
        top: 106px;
        left: 5%;

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310px;
    }

    .direito {
        width: 40%;

    }

    .esquerdo {
        width: 54%;
    }

    .contato-f,
    .equipe {
        font-size: 10px;
    }

    .direito h3 {
        padding-top: 10px;
        font-size: 13px;

    }

    .esquerdo h2 {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
    }

    .contato-f,
    .equipe {
        font-size: 10px;
    }

    .esquerdo {
        width: 54%;

    }

    .direito {
        width: 40%;
    }
}