footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #034078;
    height: 39vh;
    width: 100%;


}

.corpo-footer {
    display: flex;
    justify-content: space-between;
    width: 93%;
    background-color: #034078;

}

.esquerdo p,
.esquerdo h2,
.direito h3 {
    color: white;
}

.direito h3 {
    padding-top: 15px;
    font-size: 25px;

}

.esquerdo h2 {
    font-size: 25px;
}

.direito {
    width: 30%;
    
}

.esquerdo {

    width: 40%;

}

.footer-a {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;

}

.material-symbols-outlined, .img-insta {
    display: inline-block;
    margin-top: 10px;

}

.img-insta{
   color: white;
    height: 30px;
    width: 30px; 
}

.contatos {
    margin-bottom: 20px;

}

.contato-f {
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;

}

.footer-a {
    text-decoration: none;
}

.footer-a p:hover {
    text-decoration: underline;
    color: whitesmoke;
}

@media (max-width: 575.99px) {
    footer {
        margin-top: 0px;
        height: 560px;
        
    }

    .corpo-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 500px;
        margin-left: -5px;
        
    }

    .direito {
        width: 80%;
        position: absolute;
        top: 30px;
        left: 5%;
       
    }

    .esquerdo {
       
        width: 90%;
        position: absolute;
        top: 270px;
        left: 5%;
      

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310px;
    }

    .direito {
        width: 40%;
       
    }

    .esquerdo {
        width: 54%;
    }

    .contato-f {
        font-size: 14px;
    }

    .direito h3 {
        padding-top: 10px;
        font-size: 21px;
    }

    .esquerdo h2 {
        font-size: 21px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
    }

    .contato-f {
        font-size: 16px;
    }

    .esquerdo {
        width: 54%;
       
    }

    .direito {
        width: 40%;
    }
}