footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #034078;
    height: 37vh;
}

.corpo-footer {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.esquerdo p,
.esquerdo h2,
.direito h3 {
    color: white;
    line-height: 30px;
}

.direito h3 {
    padding-top: 10px;
    font-size: 25px;
}

.esquerdo h2 {
    font-size: 25px;
}

.direito {
    width: 30%;
}

.esquerdo {
    width: 40%;
}

.contatos {
    margin-bottom: 25px;
}

.contato {
    font-size: 18px;
}

.footer-a {
    text-decoration: none;
}

.footer-a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

@media (max-width: 575.98px) {
    footer {
        margin-top: 0px;
        height: 560px;
    }

    .corpo-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 500px;
        
    }

    .direito {
        width: 80%;
        position: absolute;
        top: 30px;
        left: 5%;
      
    }

    .esquerdo {
        width: 90%;
        position: absolute;
        top: 220px;
        left: 5%;
       
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310px;
    }

    .direito {
        width: 40%;
    }

    .esquerdo {
        width: 54%;
    }

    .contato {
        font-size: 14px;
    }

    .direito h3 {
        padding-top: 10px;
        font-size: 21px;
    }

    .esquerdo h2 {
        font-size: 21px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
    }

    .contato {
        font-size: 16px;
    }

    .esquerdo {
        width: 54%;
    }

    .direito {
        width: 40%;
    }
}