  .CardPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #003c71;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .titlefarmacia {
    flex: 1;
    text-align: center;
    font-size: 10px;

    
  }

    .TitleSaude {  flex: 1;
      text-align: center;
      font-size: 10px;

    }
  
  .date {
    font-size: 18px;
  }
  
  /* Estilos responsivos para dispositivos móveis */
  @media (min-width: 360px) {
    .CardPrincipal {
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
      
    }
  
    .CardHealth img {
      max-width: 500px;
      margin-bottom: 10px;
      margin-top: 20px;
     
    }
  
    .date {
      margin-top: 15px;
      font-size: 20px;
    }
  }
  