.container {
    margin-top: 135px;
}

.foto {
    height: 35%;
    width: 36%;
    object-fit: cover;
    border-radius: 20px;
    text-align: center;
    margin-left: 120px;
    background-size: auto;
}

.info-mapa-container {
    justify-content: flex-start;
    align-items: end;
    margin-left: 26px;
    margin-top: 10px;
}

.dados {
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
    position: absolute;
    top: 430px;
    right: 27%;
    z-index: -1;
    font-size: 19px;
}

.info {
    font-size: 19px;
    width: auto;
    text-align: left;
    margin-left: 10px;
    position: absolute;
    top: 640px;
    right: 84%;
    z-index: -1;
}

.titulo {
    margin-bottom: 35px;
    margin-left: 175px;
    font-size: 22px;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 1vh;
    
}
.button { 
        display: flex;
        align-items: center;
        justify-content: center;
        
    font-size: 35px;

}

.mapa {
    height: 220px;
    width: 35%;
    border-radius: 20px;
    flex-shrink: 0;
    margin: bottom 10px;
    border: red solid 1px;
    position: absolute;
    top: 200px;
    right: 10%;
    z-index: -1;
}


.disponivel {
    clear: both;
    display: block;
    padding-top: 20px;
    color: rgb(1, 1, 96);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    top: 550px;
    right: 25%;
    z-index: -1;
    font-size: 25px;
}


.status {
    border: 3px solid #f6be15;
    height: 30px;
    display: inline-block;
    clear: both;
    width: 200px;
    border-radius: 80px;
    background-color: #f6be15;
    color: rgb(255, 255, 255);
    margin-left: 24%;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    margin-right: 3px;

}

.zap {
    background: url(../utilites/wpp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: inline-block;
    padding-top: 2px;


}

.fim {

    margin-top: 5px;
    display: flex;

    margin-right: 405px;
    margin-top: 60px;
}



@media (min-width:1279px) {}

@media (max-width: 585.99px) {
    .container {
        margin-top: 100px;
    }

    .foto {
        height: 20%;
        width: 85%;
        margin-left: 26px;
    }

    .info-mapa-container {
        display: flex;
    }

    .dados {
        margin-left: 26px;
        position: relative;
        top: 0;
        right: 0;
    }

    .info {
        font-size: 11px;
        position: relative;
        top: 0;
        right: 0;
    }

    .titulo {
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 22px;
    }

    .mapa {
        height: 125px;
        width: 55%;
        position: relative;
        top: 0;
        right: 0;
    }


    .disponivel {
        position: relative;
        top: 0;
        right: 0;
    }


    .fim {
        margin-top: 5px;
        display: flex;
        margin-right: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991px) {}