<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="stylesheet" href="/public/css/HeaderHome.css"
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Página em Desenvolvimento</title>
</head>
<body> 
    <%- include('./partials/Header.ejs') %>
</body> 
</html>
