<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Titulo teste</h2>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, nam numquam cumque aspernatur voluptates modi blanditiis voluptatum pariatur porro adipisci. Culpa tenetur unde qui fuga atque sed alias dolor officia?</p>
</body>
</html>