<div class="mainCard">

    <div><h2 class="title">Comércios</h2></div>

    <div class="container">
            <div class="card">
                <div class="imgContainer"><img class="imgCard" src="/uploads/italogardClube.png" alt=""></div>
                <p class="infCard">Italogard Clube</p>
                <p class="infCard">R. Bernardo Tôrres, 170</p>
                <p class="sttCard">Aberto</p>
            </div>
            <div class="card">
                <div class="imgContainer"><img class="imgCard" src="/uploads/restauranteJB.jpeg" alt=""></div>
                <p class="infCard">Restaurante JB</p>
                <p class="infCard">R. José C. Pereira, 316</p>
                <p class="sttCard">Aberto</p>
            </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/1724785050880.png" alt=""></div>
            <p class="infCard">Romário Materiais de Construção</p>
            <p class="infCard">Rua João Fernandes, 134</p>
            <p class="sttCard">Aberto</p>
        </div>
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/1724854282807.jpg" alt=""></div>
            <p class="infCard">Antonella Modas</p>
            <p class="infCard">Praça da Independência, 212</p>
            <p class="sttCard">Aberto</p>
        </div>   
    </div>

    <div class="container">
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/oticasMuybella.jpeg" alt=""></div>
            <p class="infCard">Óticas Muybella</p>
            <p class="infCard">Av. João Mendes Magalhães, 5</p>
            <p class="sttCard">Aberto</p>
        </div> 
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/gardingoAtacarejo.png" alt=""></div>
            <p class="infCard">Gardingo Atacarejo</p>
            <p class="infCard">Rod. Ozires, Exposição</p>
            <p class="sttCard">Aberto</p>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/vivo.jpeg" alt=""></div>
            <p class="infCard">Vivo</p>
            <p class="infCard">Av. João Mendes Magalhães, 119</p>
            <p class="sttCard">Aberto</p>
        </div> 
        <div class="card">
            <div class="imgContainer"><img class="imgCard" src="/uploads/ferreiraAtacado.png" alt=""></div>
            <p class="infCard">Ferreira SuperAtacado</p>
            <p class="infCard">Av. Salvador Sabino, 53</p>
            <p class="sttCard">Aberto</p>
        </div>
    </div>
</div>

