<footer>
    <div class="corpo-footer">
       
        <div class="esquerdo">

            <div class="contatos">

                <h2>CONTATOS</h2>

                <div> <a href="" class="footer-a">
                    <img class="img-email" src="/utilites/email.png" alt="">
                        <p class="contato-f">
                            matipomais2024@gmail.com
                        </p>
                    </a>
                </div>

                <a href="" class="footer-a">
                    <img class="img-insta" src="/utilites/instagram.png" alt="">

                    <p class="contato-f">@matipomais</p>
                </a>

            </div>

           

            <p class="equipe" >Equipe Ciência Da Computação - Turma 2023 Centro Universitário Vértice</p>

        </div>

       

        <div class="direito">
            <a href="" class="footer-a">
                <h3>Quem somos?</h3>
            </a>
            <a href="" class="footer-a">
                <h3>Suporte</h3>
            </a>
            <a href="" class="footer-a">
                <h3>Sugestões</h3>
            </a>
            <a href="" class="footer-a">
                <h3>Dúvidas</h3>
            </a>
        </div>
    </div>


</footer>