<footer>
    <div class="corpo-footer">
        <div class="esquerdo">
            <div class="contatos">
                <h2>Contato</h2>
                <p class="contato">matipomais2024@gmail.com </p>
                <p class="contato">@matipomais</p>
            </div>
            <p class="contato">Equipe Ciência da Computação - Turma 2023 Dúvidas
                Centro Universitário Vértice</p>
        </div>
        <div class="direito">
            <h3>Quem somos?</h3>
            <h3>Suporte</h3>
            <h3>Sugestões</h3>
            <h3>Dúvidas</h3>
        </div>
    </div>
</footer>