<header class="main-header">

    <div class="hamburger" > 
      <div class="material-symbols-rounded" onclick="onMenu()"> menu</div> 
    </div>

    <div class="logo-menu"><img class="logo-img" src="./utilites/logo2.png"> </div>
    
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="/" class="active">Home</a>
        </li>
        <li>
          <a href="/business/index">Comércios</a>
        </li>
        <li>
          <a href="#">Saúde</a>
        </li>
        <li>
          <a href="#">Moradía</a>
        </li>
        <li>
          <a href="#">Empregos</a>
        </li>
        <li>
          <a href="#">Utilidade Pública</a>
        </li>
        <li>
          <a href="#">Lazer</a>
        </li>
      </ul>
    </nav>

    <div class="search-bar-menu"> 
      <div class="material-symbols-outlined" onclick="onSearch()"> search </div>
    </div>

    <div class="search-bar">
      <input class="search-input" type="text" placeholder="Buscar..." >
    </div>

  </header>
