<!-- Modal -->
<div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel">Adicionar Oportunidade de Emprego</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="/admin/jobs/new" method="POST" enctype="multipart/form-data">

                    <h3 class="fs-5">Dados do Emprego/Empresa</h3>
                    <div class="col-md-16">

                        <div class="profile-pic">
                            <label class="-label" for="file">
                                <span class="glyphicon glyphicon-camera"></span>
                                <span>Change Image</span>
                            </label>
                            <input  id="file" type="file" name="jobPhoto" onchange="loadFile(event)" />
                            <img src="https://img.freepik.com/premium-vector/job-newspaper-icon-blue-color-design_965649-13412.jpg?w=826"
                                id="output" width="200" />
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label for="businessName" class="form-label">Cargo</label>
                        <input  required type="text" name="jobName" placeholder="Nome do Emprego" class="form-control"
                            id="jobName">
                    </div>
                    <div class="col-md-4">
                        <label for="jobLocation" class="form-label">Localização</label>
                        <input required  type="text" name="jobLocation" placeholder="Endereço da Contratante"
                            class=" form-control" id="jobLocation">
                    </div> 
                    <div class="col-md-4">
                        <label for="closingTime" class="form-label">Categoria</label>
                        <select class="form-select" name="categoryName" aria-label="Default select example">  
                            <option disabled  selected value="null">Selecione uma Categoria</option>                            
                            <% categories.forEach(category => { %>
                                <option value="<%= category.category %>"><%= category.category %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="jobDescription" class="form-label">Descrição Detalhada do Cargo</label>
                        <div class="form-floating">
                            <textarea required  class="form-control" name="jobDescription"
                                placeholder="Deixe sua descrição aqui..." id="jobDescription"
                                style="height: 100px"></textarea>
                            <label for="jobDescription">Descrição</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="tel" class="form-label">Telefone</label>
                        <input type="text" name="jobContact[phone]" placeholder="(00) 0000-0000" class="form-control phone_with_ddd" id="tel">
                    </div>
                    <div class="col-md-4">
                        <label for="whatsApp" class="form-label">WhatsApp</label>
                        <input type="text" name="jobContact[whatsApp]" placeholder="(00) 0000-0000" class="form-control phone_with_ddd"
                            id="whatsApp">
                    </div>

                    <div class="col-md-4">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" name="jobContact[email]" placeholder="exemplo@gmal.com" class="form-control" id="email">
                    </div>

                    <div class="col-md-4">
                        <label for="openingTime" class="form-label">Horário de Abertura</label>
                        <input type="time" name="openingTime" placeholder="00:00" class="form-control" id="openingTime">
                    </div>
                    <div class="col-md-4">
                        <label for="closingTime" class="form-label">Horário de Fechamento</label>
                        <input type="time" name="closingTime" placeholder="00:00" class="form-control" id="closingTime">
                    </div>
                    <div class="col-md-4">
                        <label for="closingTime" class="form-label">Carga Horária</label>
                        <select class="form-select" name="operatingDays" aria-label="Default select example" multiple>
                            <option value="Domingo">Domingo</option>
                            <option value="Segunda-feira">Segunda-feira</option>
                            <option value="Terça-feira">Terça-feira</option>
                            <option value="Quarta-feira">Quarta-feira</option>
                            <option value="Quinta-feira">Quinta-feira</option>
                            <option value="Sexta-feira">Sexta-feira</option>
                            <option value="Sábado">Sábado</option>
                        </select>
                    </div> 
                    <div class="col-md-6">
                        <label for="businessName" class="form-label">Empresa</label>
                        <input type="text" name="businessName" placeholder="Nome da Empresa" class="form-control"
                            id="businessName">
                     </div> 
                     <div class="col-md-6">
                        <label for="closingTime" class="form-label">Status</label>
                        <select class="form-select" name="status" aria-label="Default select example">  
                            <option disabled  selected value="null">Selecione o Status</option>                            
                            <option  value="Em aberto">Em aberto</option>   
                            <option  value="Processo Seletivo em Aberto">Processo Seletivo em Aberto</option>   
                            <option  value="Vaga Encerrada">Vaga Encerrada</option>   
                             
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="tel" class="form-label">Incorporar Mapa</label>
                        <input type="text" name="jobMapHTML" placeholder="Código HTML" class="form-control" id="tel">
                    </div> 
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Adicionar </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>