<section class="TitleAndFeatures">
    <h2 class="page-title">Comécios</h2> 
    <div class="buttons"> 
        <button class="default-button"> <i class=" icon ph-bold  ph-funnel icons"></i> Filtrar </button>
        <button class="default-button"> <i class= " icon ph-bold ph-export icons"></i> Exportar </button>
        <button class="default-button simple"> <i class="icon ph-bold  ph-plus icons"></i> Adicionar </button> 

    </div>
</section>